<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.waiterxiaoyy.mapper.MemMajorTeacherMapper">

    <select id="getMajorTeacherList" resultType="com.waiterxiaoyy.entity.SysTeacher">
        select st.id, st.teacher_id, st.teacher_name, st.begin_time, smt.major_id from sys_teacher as st
        left join sys_major_teacher as smt
        on st.teacher_id = smt.teacher_id
        where smt.major_id = #{majorId}
        <if test="teacherName != null and teacherName != ''">
            and smt.teacher_name like CONCAT('%',#{teacherName},'%')
        </if>
    </select>
</mapper>